body, html {
  margin: 0;
  padding: 0;
  height: 100%;  /* Asegura que el body y el html ocupen toda la altura de la ventana */
}

.contenedor {
  width: 70vw;               /* 70% del ancho de la pantalla */
  height: 20vh;              /* 25% de la altura de la pantalla */
  border: 2px solid #591df0;    /* Borde de 2px de color negro */
  padding: 10px 20px 20px 20px; /* Relleno interno, con menos espacio en la parte superior */
  position: absolute;        /* Posicionamiento absoluto */
  top: 2vh;                 /* 2% de la altura de la pantalla desde el borde superior */
  left: 2vw;                /* 2% del ancho de la pantalla desde el borde izquierdo */
  box-sizing: border-box;    /* Asegura que el borde y el padding no se sumen al tamaño del contenedor */
}

.contenedor h1 {
  margin-top: 0; /* Asegura que el título esté cerca del borde superior */
}

.contenido {
  font-size: 20px;
  color: #333;
}

/* Estilo para el contenedor principal .flujo */
.flujo {
  width: 20vw;               /* Ancho del contenedor */
  height: 95vh;              /* Alto del contenedor */
  border: 2px solid #591df0;    /* Borde negro */
  padding: 10px;             /* Espaciado interno */
  position: absolute;        /* Posición absoluta */
  top: 2vh;                  /* Distancia desde la parte superior */
  left: 75vw;                /* Distancia desde la izquierda */
  box-sizing: border-box;    /* Incluye el padding en el tamaño total */
  text-align: center;        /* Centra el texto */
  font-family: Arial, sans-serif; /* Fuente para todo el contenedor */
}

.dinamico {
  width: 70vw;               /* Ancho del contenedor */
  height: 72vh;              /* Alto del contenedor */
  border: 2px solid #591df0;    /* Borde negro */
  padding: 10px 20px;        /* Menos espacio en la parte superior, más cerca del borde */
  position: absolute;        /* Posición absoluta */
  top: 25vh;                  /* Distancia desde la parte superior */
  left: 2vw;                /* Distancia desde la izquierda */
  box-sizing: border-box;    /* Incluye el padding en el tamaño total */
  text-align: center;        /* Centra el texto */
  font-family: Arial, sans-serif; /* Fuente para todo el contenedor */
}

.dinamico h1 {
  margin-top: 0; 
}

.dinamico .contenido {
  font-size: 22px;  
  color: #333;
}


.bloques {
  display: flex;             
  flex-direction: column;    
  justify-content: center;   
  align-items: center;       
  margin-top: 20px;          
}


.bloque {
  width: 150px;              
  padding: 20px;             
  margin: 5px 0;            
  background-color: #34d2e0; 
  color: white;              
  border-radius: 10px;       
  text-align: center;        
}


.flecha {
  font-size: 20px;
  color: #920cff;
  animation: bounce 0.5s infinite alternate; 
}

@keyframes bounce {
  0% { transform: translateY(0); }
  100% { transform: translateY(10px); }
}

.bloque h2 {
  margin-bottom: 8px;     
  font-size: 15px;           
}

.bloque p {
  font-size: 8px;           
  margin-top: 5px;           
  color: #ddd;               
}

