<%- include('partials/_admDashboard') %>
<style>
    body{
        overflow: hidden;
    }
    .contenedor{
        width: 90%;
        margin-right: 50px;
        height: 400px;
        background-color: #6F7D8C;
        margin-left: 60px;
        margin-top: 50px;
        border-radius: var(--border-radius-3);
    }
    .imagen{
        width: 400px;
        height: 0;
    }
    .imagen img{
        width: 400px;
        padding: 50px;
        border-radius: 50%;
    }
    .texto{
        width: 700px;
        height: 400px;
        margin-left: 400px;
        padding-top: 80px;
        font-family: Cambria;
    }
    .texto H1{
        color: #EFF1ED;
        font-size: 70px;
    }
</style>

<div class="contenedor">
    <div class="imagen">
        <img src="img/amd_ajolote.jpg" alt="">
    </div>
    <div class="texto">
        <h1>¡BIENVENIDO DE NUEVO ADMIN!</h1>
        <p></p>
    </div>

</div>
