<%- include('partials/_header') %>
<div>
    <img src="img/LogoNormal.png" alt="Sistemas Inteligentes para el medio Ambiente" 
    style="position: absolute; margin-top: 8%; margin-left: -3%; height: 300px;">
    <div style="text-align: right;">
        <h1 style="color: #000;font-family: Cambria; font-size: 40px;text-align: center;  font-weight: bold;"
        >TT-2 2024-B049</h1>
        <H2 style="color: #000;font-family: Cambria; font-size: 25px;text-align: center;  font-weight:bold; font-style: italic;"
        >SISTEMA DE MORFOMETRIA AUTOMATIZADO PARA LA EVALUACIÓN DE CUERPOS DE AGUA CONTINENTALES</H2>
        <h2 style="color: #800000;font-family: Cambria; font-size: 25px;text-align: center;  font-weight: bold;"
        >INSTITUTO POLITÉCNICO NACIONAL</h2>
        <H2 style="color: navy;font-family: Cambria; font-size: 25px;text-align: center;  font-weight: bold;"
        >ESCUELA SUPERIOR DE CÓMPUTO</H2>
        <div style="color: #000; font-size: 22px; font-family: Cambria; font-style: italic; text-align: center; font-weight: bold;">
            <p>Presentan:</p>
            <p>Baiz Cajero Sergio Alan</p>
            <p>Trinidad Antonio Jesús</p>
            <p>Delgado Moreno Marc Anthony</p>
        </div>  
    </div>

</div>