<%- include('partials/_dashboard') %>

    <style>
        .contenedor {
            width: 90%;
            height: 1000px;
            background-color: aliceblue;
            margin-left: 60px;
            margin-top: 30px;
            background-color: transparent;
            margin-bottom: 60px;
        }
        .contenedor h1{
            font-size: 40px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-weight: bold;
            text-align: center;
            color: white;
            margin-bottom: 10px;
        }
        .imagen {
            height: 0px;
        }
        .imagen img{
            width: 150px;
            margin-left: 60px;
            margin-top: 20px;
            border-radius: 50%;
            border: 2px solid black;
        }

        .texto {
            width: 800px;
            border-radius: var(--border-radius-3);
            border: 2px solid black;
            height: 200px;
            background-color: aliceblue;
            margin-left: 250px;         
            padding-top: 20px;
            padding-left: 20px;   
        }
        .texto h3{
            margin-left: 20px;
            color: #AA7DCE;
            font-size: 35px;
            font-weight: bold;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        .texto h2{
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 25px;
            font-weight: normal;
            margin-top: 10px;
        }
        .texto a{
            text-decoration: none;
            font-size: 25px;
            font-weight: normal;
            color: black;
        }
        .texto a:hover{
            color: var(--clr-primary);
        }
        .imagen-texto {
            width: 100%;
            height: 200px;
            background-color:transparent;
            margin-bottom: 30px;
        }

    </style>

    <div class="contenedor">
        <h1>EQUIPO DE INVESTIGACIÓN</h1>
        <div class="imagen-texto">
            <div class="imagen">
                <img src="img/sima.png" alt="SIMA">
            </div>
            <div class="texto">
                <h3>SIMA</h3>
                <h2>Sistemas Inteligentes para el Medio Ambiente</h2>
                <h2>Página de contacto: <a href="https://www.sima-ipn.com.mx" target="_blank">https://www.sima-ipn.com.mx</a></h2>
            </div>
        </div>
        <H1>EQUIPO DE DESARROLLO</H1>

        <div class="imagen-texto">
            <div class="imagen">
                <img src="img/Sergio.jpeg" style="width: 170px;">
            </div>
            <div class="texto">
                <h3>Baiz Cajero Sergio Alan</h3>
                <h2>Estudiante de Ingeniería en Sistemas Computacionales</h2>
                <h2>Contacto: sbaizc1700@alumno.ipn.mx</h2>
            </div>
        </div>
        <div class="imagen-texto">
            <div class="imagen">
                <img src="img/Marc.jpeg" style=" width: 135px;">
            </div>
            <div class="texto">
                <h3>Delgado Moreno Marc Anthony</h3>
                <h2>Estudiante de Ingeniería en Sistemas Computacionales</h2>
                <h2>Contacto: mdelgadom1700@alumno.ipn.mx</h2>
            </div>
        </div>
        <div class="imagen-texto">
            <div class="imagen">
                <img src="img/Jesus.jpeg" style="width: 150px;">
            </div>
            <div class="texto">
                <h3>Trinidad Antonio Jesús</h3>
                <h2>Estudiante de Ingeniería en Sistemas Computacionales</h2>
                <h2>Contacto: jtrinidada1700@alumno.ipn.mx</h2>
            </div>
        </div>
    </div>