<%- include('partials/_header') %>

<div class="col-md-5" style="width: auto;" >
    <div class="card border-primary mb-3" style=" margin-left: 20%; margin-right: 20%; margin-top: 1%;
    border-radius: 10%; border-width: 2%; ">
        <div class="card-header" 
        style="color: black; font-size: 35px; font-family: Cambria;font-weight: bold; 
        text-align: center; margin-bottom: -30px;"> SUGERENCIAS </div>
        <div class="card-body" style="text-align: center;">
            <form action="/sugg" method="post" style="margin-left: 0%; margin-right: 0%; margin-top: 0; ">
                <div>
                    <label for="exampleSelect1" class="form-label mt-4"
                    style=" font-family: Cambria; font-size: 20px;">Tipo de sugerencia:</label>
                    <select class="form-select" id="exampleSelect1" style="height: 60px; width: 500px; font-size: 15px; font-family: Cambria;  
                     text-align: left; margin-left: 15%; margin-right: 15%; margin-bottom: -10px;"
                     name="tipo">
                        <option>Funcionamiento</option>
                        <option>Diseño</option>
                        <option>Bugs/Fallos de la página</option>
                    </select>
                </div>
                <div>
                    <label for="descripcion" class="form-label mt-4" style="font-family: Cambria; font-size: 20px;">Descripción</label>
                    <textarea  name="descripcion" class="form-control" id="descripcion" rows="3" style="height: 150px; margin-bottom: 10px;"></textarea>
                </div>
                
                <button type="submit" class="btn btn-outline-success" style="font-weight: bold;"> ENVIAR</button>
            </form>
        </div>
    </div>
</div>
</div>

<%- include('partials/_footer') %>